<%= form_for(@final_route) do |f| %>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Οριστικοποίηση δρομολογίων</h3>
      </div>
      <div class = "modal-body">
        <% if @final_route.routes.any? %>
          <h3>Γραμμές δρομολογίων</h3>
          <table class="table table-stripped">
            <th>Δρομολόγιο</th>
            <th>Ημερομηνία</th>
            <th>Εντολέας</th>
            <% @final_route.routes.each do |route| %>
              <tr>
              <td class="success"><%= route.route_desc %></td>
              <td class="success"><%= route.route_date.strftime('%d/%m/%Y') %></td>
              <td class="success"><%= route.customer_name %></td>
            <% end %>
          </table>
        <% end %>
        <br/>
          <% if @final_route.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@final_route.errors.count, "error") %> prohibited this final_route from being saved:</h2>

              <ul>
              <% @final_route.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <table class="table table-bordered">
            <td class="warning">
              <div class="field">
                <%= f.label :ftrdate, 'Ημερομηνία' %><br>
                <%= f.text_field :ftrdate, class: "form-control datepicker" %>
              </div>
            </td>
            <td class="warning">
              <div class="field">
                <%= f.label :transportation_shortcut, 'Τράκτορας' %><br>
                <%= f.text_field :transportation_shortcut, class: "form-control" %>
              </div>
            </td>
          <td class="warning">
            <div class="field">
              <%= f.label :syromenoid, 'Συρόμενο' %><br>
              <%= f.number_field :syromenoid, class: "form-control" %>
            </div>
          </td>
          <td class="warning">
            <div class="field">
              <%= f.label :supid, 'Προμηθευτής' %><br>
              <%= f.number_field :supid, class: "form-control" %>
            </div>
          </td>
          <tr>
          <td class="warning col-md-8">
            <div class="field">
              <%= f.label :customer_name, 'Εντολέας' %><br>
              <%= f.text_field :customer_name, class: "form-control" %>
            </div>
          </td>
          <td class="warning">
            <div class="field">
              <%= f.label :routetype, 'Τύπος' %><br>
              <%= f.select(:routetype, options_for_select([['Α', 1], ['Β', 2], ['Γ', 3]]), class: "form-control") %>
            </div>
          </td class="warning">
          <td colspan="2" class="warning"></td>
          <tr>
          <td class="warning">
            <div class="field">
              <%= f.label :iswebroute, 'Web δρομολόγιο' %><br>
              <%= f.check_box :iswebroute, class: "form-control" %>
            </div>
          </td class="warning">
          <td colspan="3" class="warning"></td>
          <tr>
          </tr>
        </table>
        <div class="modal-footer">
          <div class="actions">
            <div class="actions btn btn-default" data-dismiss="modal">
              <%= f.submit %>
            </div>
          </div>
        </div>
    </div>
<% end %>
