<p id="notice"><%= notice %></p>

<p>
  <strong>Ftrdate:</strong>
  <%= @final_route.ftrdate %>
</p>

<p>
  <strong>Trsid:</strong>
  <%= @final_route.trsid %>
</p>

<p>
  <strong>Syromenoid:</strong>
  <%= @final_route.syromenoid %>
</p>

<p>
  <strong>Supid:</strong>
  <%= @final_route.supid %>
</p>

<p>
  <strong>Cusid:</strong>
  <%= @final_route.cusid %>
</p>

<p>
  <strong>Routetype:</strong>
  <%= @final_route.routetype %>
</p>

<p>
  <strong>Iswebroute:</strong>
  <%= @final_route.iswebroute %>
</p>

<%= link_to 'Edit', edit_final_route_path(@final_route) %> |
<%= link_to 'Back', final_routes_path %>
