<p id="notice"><%= notice %></p>

<h1>Listing Transportations</h1>

<table>
  <thead>
    <tr>
      <th>Codeid</th>
      <th>Shortcut</th>
      <th>Descr</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transportations.each do |transportation| %>
      <tr>
        <td><%= transportation.codeid %></td>
        <td><%= transportation.shortcut %></td>
        <td><%= transportation.descr %></td>
        <td><%= link_to 'Show', transportation %></td>
        <td><%= link_to 'Edit', edit_transportation_path(transportation) %></td>
        <td><%= link_to 'Destroy', transportation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transportation', new_transportation_path %>
