<tr>
<td><%= route.customer.name if route.customer.present? %></td>
<td><%= route.route_desc %></td>
<td><%= route.route_date %></td>
<td><%= route.transportation.shortcut if route.transportation.present? %><%= link_to "  ?", route.transportation, remote: true %></td>
<td><%= route.quantity %></td>
<td><%= route.sales_value %></td>
<td><%= route.purchases_value %></td>
<td><%= link_to 'Show', route %></td>
<td><%= link_to 'Edit', edit_route_path(route) %></td>
<td><%= link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
