<tr>
<% if Rails.application.config.ismainapplication %>
  <td class=<%=assign_created_class(route.created)%>><%= check_box_tag 'ckb_' + route.id.to_s, params['route_id_'+route.id.to_s], false, disabled: (!route.created.nil? && route.created == 1) %></td>
<% end %>
<td class=<%=assign_created_class(route.created)%>><%= route.customer.name if route.customer.present? %></td>
<td class=<%=assign_created_class(route.created)%>><%= route.loading_time.strftime("%H:%M") if route.loading_time.present? %></td>
<td class=<%=assign_created_class(route.created)%>><%= route.route_desc %></td>
<td class=<%=assign_created_class(route.created)%>><%= route.route_date.strftime('%d/%m/%Y') %></td>
<% if Rails.application.config.ismainapplication %>
  <td class=<%=assign_created_class(route.created)%>><%= route.transportation.shortcut if route.transportation.present? %><%= link_to " [?]", route.transportation, remote: true  if route.transportation.present? %></td>
  <td class="text-right <%=assign_created_class(route.created)%>"><%= route.quantity %></td>
  <td class="text-right <%=assign_created_class(route.created)%>"><%= route.sales_value %></td>
  <td class="text-right <%=assign_created_class(route.created)%>"><%= route.purchases_value %></td>
<% end %>
<td>
  <%= link_to route, class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-eye-open"></i>
  <% end %>
</td>
<td>
  <%= link_to edit_route_path(route), class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-pencil"></i>
  <% end %>
</td>
<td>
  <%= link_to route, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-trash"></i>
  <% end %>
</td>
</tr>
