<tr>
<td><%= check_box_tag 'ckb_' + route.id.to_s, params['route_id_'+route.id.to_s] %></td>
<td><%= route.customer.name if route.customer.present? %></td>
<td><%= route.loading_time.strftime("%H:%M") if route.loading_time.present? %></td>
<td><%= route.route_desc %></td>
<td><%= route.route_date.strftime('%d/%m/%Y') %></td>
<td><%= route.transportation.shortcut if route.transportation.present? %><%= link_to " [?]", route.transportation, remote: true  if route.transportation.present? %></td>
<td class="text-right"><%= route.quantity %></td>
<td class="text-right"><%= route.sales_value %></td>
<td class="text-right"><%= route.purchases_value %></td>
<td>
  <%= link_to route, class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-eye-open"></i>
  <% end %>
</td>
<td>
  <%= link_to edit_route_path(route), class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-pencil"></i>
  <% end %>
</td>
<td>
  <%= link_to route, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" do %>
    <i class="glyphicon glyphicon-trash"></i>
  <% end %>
</td>
</tr>
