<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="text-center">Ημερήσιο πρόγραμμα</h1>
    <div class="text-center">
      <%= link_to new_route_path, class: "btn btn-primary", remote: true  do %>
        <span class="glyphicon glyphicon-plus-sign"></span>Νέα εγγραφή
      <% end %>
    </div>
    <br/>
  </div>
</div>
<%= form_tag routes_path, method: 'get', role: 'form' do %>
  <div class="form-group">
    <div class="col-xs-1" style="padding: 3px; margin: 23px 0px">
      <%= text_field_tag :customer_id, params[:customer_id], {class: 'form-control', placeholder: 'Εντολέας'} %>
    </div>
    <div class="col-xs-1" style="padding: 3px; margin: 23px 0px">
      <%= text_field_tag :route_date, params[:route_date], {class: 'form-control datepicker', placeholder: 'Ημερομηνία'} %>
    </div>
    <div class="col-xs-1" style="padding: 3px; margin: 23px 0px">
      <%= text_field_tag :route_desc, params[:route_desc], {class: 'form-control', placeholder: 'Δρομολόγιο'} %>
    </div>
    <div class="col-xs-1" style="padding: 3px; margin: 23px 0px">
      <%= text_field_tag :transportation_id, params[:transportation_id], {class: 'form-control', placeholder: 'Μεταφ. μέσο'} %>
    </div>
    <%= button_tag(type: 'submit', name: 'Search', class: "btn btn-primary", style: 'margin: 26px 10px') do %>
      <span class="glyphicon glyphicon-search"></span>
    <% end %>
  </div>
<% end %>

<% if !Rails.application.config.ismainapplication %>
  <%= link_to 'Prev', routes_path(initial_date: session[:intial_date] - 2) %>
  <%= link_to 'Next', routes_path(initial_date: session[:intial_date] + 2) %>
<% end %>

<%= form_tag new_final_route_path, method: 'get', role: 'form', remote: true do %>
  <% if Rails.application.config.ismainapplication %>
    <table class="table table-bordered" id = "routes-table">
      <thead>
        <tr>
          <% if Rails.application.config.ismainapplication %>
          <th>Επιλογή</th>
          <% end %>
          <th>Εντολέας
            <%= link_to '', routes_path(order: 'customer_id'), class: assign_order_arrow('customer_name') %>
            <%= text_field_tag :customer_id, params[:customer_id], {class: 'form-control', placeholder: 'Εντολέας'} %>
          </th>
          <th>Ώρα φόρτωσης
            <%= link_to '', routes_path(order: 'loading_time'), class: assign_order_arrow('loading_time') %>
          </th>
          <th>Δρομολόγιο
            <%= text_field_tag :route_desc, params[:route_desc], {class: 'form-control'} %>
          </th>
          <th>Ημερομηνία
            <%= link_to '', routes_path(order: 'route_date'), class: assign_order_arrow('route_date') %>
            <%= text_field_tag :route_date, params[:route_date], {class: 'form-control datepicker', placeholder: 'Ημερομηνία'} %>
          </th>
          <th>Τράκτορας
            <%= link_to '', routes_path(order: 'transportation_id'), class: assign_order_arrow('transportation_id') %>
          </th>
          <th>Ποσότητα</th>
          <th>Χρέωση</th>
          <th>Πίστωση</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <%= render @routes %>
      </tbody>
    </table>
  <% else %>
    <div class="container">
      <div class="floatLeft">
        <tr>
          <table style="display: inline-block;" width="30%" border="1">
            <thead>
              <tr>
                <% if Rails.application.config.ismainapplication %>
                <th>Επιλογή</th>
                <% end %>
                <th>Εντολέας
                  <%= link_to '', routes_path(order: 'customer_id'), class: assign_order_arrow('customer_name') %>
                </th>
                <th>Ώρα φόρτωσης
                  <%= link_to '', routes_path(order: 'loading_time'), class: assign_order_arrow('loading_time') %>
                </th>
                <th>Δρομολόγιο</th>
                <th>Ημερομηνία
                  <%= link_to '', routes_path(order: 'route_date'), class: assign_order_arrow('route_date') %>
                </th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <%= render @prvroutes %>
            </tbody>
          </table>
        </tr>
      </div>
      <div class="floatRight">
        <tr>
          <table style="display: inline-block;" width="30%" border="1">
            <thead>
              <tr>
                <% if Rails.application.config.ismainapplication %>
                <th>Επιλογή</th>
                <% end %>
                <th>Εντολέας
                  <%= link_to '', routes_path(order: 'customer_id'), class: assign_order_arrow('customer_name') %>
                </th>
                <th>Ώρα φόρτωσης
                  <%= link_to '', routes_path(order: 'loading_time'), class: assign_order_arrow('loading_time') %>
                </th>
                <th>Δρομολόγιο</th>
                <th>Ημερομηνία
                  <%= link_to '', routes_path(order: 'route_date'), class: assign_order_arrow('route_date') %>
                </th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <%= render @routes %>
            </tbody>
          </table>
        </tr>
      </div>
    </div>
  <% end %>
  <% if Rails.application.config.ismainapplication %>
    <%= button_tag(type: 'submit', name: 'FinalizeRoutes', class: "btn btn-primary", style: 'margin: 26px 10px', title: 'Οριστικοποίηση δρομολογίων', 'data-toggle' => 'tooltip') do %>
      <span class="fa fa-truck"></span>
    <% end %>
  <% end %>
<% end %>

<%= will_paginate @tasks, renderer: BootstrapPagination::Rails %>
<br>
<div class="modal fade" id="modal">
</div>
<br/>
<br/>
