<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Εισαγωγή δρομολογίου
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="row-fluid">
            <div class="span8 offset1">
          		<div class = "projects-list">
                <p id="notice"><%= notice %></p>
                <%= render 'form' %>
          		</div>
          	</div>
          </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Αναζήτηση
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <%= form_tag routes_path, method: 'get', role: 'form' do %>
          <div class="form-group">
            <div class="col-xs-1" style="padding: 3px; margin: 23px 0px">
              <%= text_field_tag :customer_id, params[:customer_id], {class: 'form-control', placeholder: 'Εντολέας'} %>
            </div>
            <div class="col-xs-1" style="padding: 3px; margin: 23px 0px">
              <%= text_field_tag :route_date, params[:route_date], {class: 'form-control datepicker', placeholder: 'Ημερομηνία'} %>
            </div>
            <div class="col-xs-1" style="padding: 3px; margin: 23px 0px">
              <%= text_field_tag :route_desc, params[:route_desc], {class: 'form-control', placeholder: 'Δρομολόγιο'} %>
            </div>
            <div class="col-xs-1" style="padding: 3px; margin: 23px 0px">
              <%= text_field_tag :transportation_id, params[:transportation_id], {class: 'form-control', placeholder: 'Μεταφ. μέσο'} %>
            </div>
            <%= button_tag(type: 'submit', name: 'Search', class: "btn btn-primary", style: 'margin: 26px 10px') do %>
              <span class="glyphicon glyphicon-search"></span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<h1>ΔΡΟΜΟΛΟΓΙΑ</h1>

<%= form_tag new_final_route_path, method: 'get', role: 'form', remote: true do %>
  <table class="table table-bordered" id = "routes-table">
    <thead>
      <tr>
        <th>Επιλογή</th>
        <th>Εντολέας
          <%= link_to '', routes_path(order: 'customer_id'), class: assign_order_arrow('customer_name') %>
        </th>
        <th>Ώρα φόρτωσης
          <%= link_to '', routes_path(order: 'loading_time'), class: assign_order_arrow('loading_time') %>
        </th>
        <th>Δρομολόγιο</th>
        <th>Ημερομηνία
          <%= link_to '', routes_path(order: 'route_date'), class: assign_order_arrow('route_date') %>
        </th>
        <th>Τράκτορας
          <%= link_to '', routes_path(order: 'transportation_id'), class: assign_order_arrow('transportation_id') %>
        </th>
        <th>Ποσότητα</th>
        <th>Χρέωση</th>
        <th>Πίστωση</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%= render @routes %>
    </tbody>
  </table>
  <%= button_tag(type: 'submit', name: 'FinalizeRoutes', class: "btn btn-primary", style: 'margin: 26px 10px', title: 'Οριστικοποίηση δρομολογίων', 'data-toggle' => 'tooltip') do %>
    <span class="glyphicon glyphicon-wrench"></span>
  <% end %>
<% end %>

<%= will_paginate @tasks, renderer: BootstrapPagination::Rails %>
<br>
<div class="modal fade" id="modal">
</div>
<br/>
<br/>
